body {    
    margin: 0 !important;
    padding: 0 !important;
    width: 800;
    min-width: 350px;
    background-image: url("assets/bg.jpg");
}
h2 {
    text-align: center;
}
p {
    text-align: justify;
}